matplotlib==3.4.2
numpy==1.23.5
omegaconf==2.1.2
tqdm==4.65.0
matplotlib==3.4.2
numpy==1.23.5
omegaconf==2.1.2
python-dateutil==2.9.0.post0
six==1.17.0
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
triton==3.0.0
